# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
*.egg

# Virtual Environments
venv/
env/
.venv/

# IDE / Editor
.vscode/
.idea/

# Test Artifacts
.pytest_cache/
.coverage

# Model Files
*.pt